@use "var" as *;

* {
  padding: 0;
  margin: 0;
  color: $txt1-main;
}

html {
  background-color: $bg2-middle;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: $bg1-dark;
}
main {
  min-height: calc(100vh - 144px);
  background-color: $bg1-dark;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px;

  background-color: $bg2-middle;
}

nav {
  width: 60vw;
  min-width: 520px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a {
    display: inline-flex;
    flex-direction: row;
    align-items: center;

    padding-right: 4px;
    border-radius: 8px;

    color: white;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;

    img {
      height: 40px;
    }
  }
  .currentPath {
    background-color: $btn-imp-1-bg;
  }
}
.button-login {
  background-color: #ba492a;
  color: white;
  border: 2px solid #ff6033;

  height: 36px;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    background-color: #ff6033;
  }
}

footer {
  position: absolute;
  bottom: 0px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  background-color: $bg2-middle;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  height: 60px;

  position: relative;
  bottom: 0;
  a {
    color: $txt1-main;
  }
}

dialog.info {
  max-width: 500px;
  margin: auto;
  overflow-x: hidden;

  background-color: $bg2-middle;
  border: 4px solid $border;
  border-radius: 16px;
  padding: 16px;

  h2 {
    color: $txt1-main;
    padding-bottom: 8px;
    text-align: center;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:focus {
    outline: none;
  }
}

p {
  margin: 8px;
  color: $txt1-main;
  white-space: pre-line;
}

a.blue {
  color: $btn-imp-2-border;
}

button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;

  height: 32px;
  padding: 0px 12px;
  background-color: $bg3-light;
  color: $txt1-main;

  border: 2px solid $border;
  border-radius: 20px;

  font-size: 18px;

  transition: 500ms;

  img {
    height: 32px;
  }
  &:hover {
    cursor: pointer;
  }
}

.ButtonRowBorders {
  width: calc(100% - 16px);
  justify-content: space-between;
}
.buttonRow {
  display: inline-flex;
  flex-direction: row;
  gap: 20px;

  margin: 8px;
  margin-bottom: 0;

  .buttonNormal {
    background-color: $bg3-light;
    color: white;

    &:hover {
      background-color: $border;
    }
  }
  .buttonImp {
    background-color: $btn-imp-1-bg;
    color: white;
    border: 2px solid $btn-imp-2-border;

    &:hover {
      background-color: $btn-imp-2-border;
    }
  }
  .buttonGood {
    background-color: $btn-good-1-bg;
    color: white;
    border: 2px solid $btn-good-2-border;

    &:hover {
      background-color: $btn-good-2-border;
    }
  }
  .buttonBad {
    background-color: $btn-bad-1-bg;
    color: white;
    border: 2px solid $btn-bad-2-border;

    &:hover {
      background-color: $btn-bad-2-border;
    }
  }
}

input {
  height: 16px;
  padding: 8px;
  margin: 8px;

  background-color: $bg2-middle;
  color: $txt1-main !important;
  font-size: 18px;

  border: 2px solid $border;
  border-radius: 8px;
  &:focus {
    outline: none;
    border: 2px solid $btn-imp-2-border;
  }
}
input[type="checkbox"] {
  accent-color: $btn-imp-2-border;
}

textarea {
  display: block;

  height: 200px;
  width: calc(100% - 50px);
  padding: 16px;
  margin: 8px;

  background-color: $bg2-middle;
  color: $txt1-main !important;
  font-size: 18px;

  border: 2px solid $border;
  border-radius: 8px;
  &:focus {
    outline: none;
    border: 2px solid $btn-imp-2-border;
  }
}

select {
  height: 32px;
  padding: 0px 8px;
  margin: 8px;

  background-color: $bg3-light;
  color: $txt1-main !important;
  font-size: 18px;

  border: 2px solid $border;
  border-radius: 32px;
  option {
    height: 16px;
    padding: 8px;
    margin: 8px;

    background-color: $bg3-light;
    color: $txt1-main !important;
    font-size: 18px;
  }
  hr {
    height: 20px;
  }
}

.error {
  width: 600px;
  margin-top: 40px;
  padding: 8px;
  background-color: hsla(0, 100%, 50%, 0.4);
  border: 2px solid hsla(0, 100%, 50%, 0.75);
  border-radius: 16px;
  p {
    text-align: center;

    font-size: 18px;
    font-weight: 600;
  }
}
.warning {
  width: 600px;
  margin-top: 40px;
  padding: 8px;
  background-color: hsla(57, 100%, 50%, 0.4);
  border: 2px solid hsla(57, 100%, 50%, 0.75);
  border-radius: 16px;
  p {
    text-align: center;

    font-size: 18px;
    font-weight: 600;
  }
}
